{
  "extends": [
    "plugin:ramda/recommended",
    "plugin:import/recommended",
    "plugin:promise/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "ramda",
    "promise",
    "import"
  ],
  "rules": {
    "import/no-unresolved": 0,
    "comma-dangle": ["error", "always-multiline"]
  }
}
